/* image resizing for banner img */
img.banner {
  display:block;
  max-width: 100%;
  width: auto;
  margin-bottom: 1rem;
}

/* box title styling */
.intro_box_title span {
  display: flex;
  gap: 0.4rem;
}


.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}
